.info-container {
  display: flex;
  padding: 1% 1% 0% 1%;
  margin-top: 2%;
  justify-content: space-between;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 13px;
  background-color: white;
}

p {
  color: grey;
}

.background-img {
  width: 100%;
  height: 300px;
  margin-right: 10%;
}

.current-month {
  gap: 20px;
}

.current-month {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 24px;
  margin-bottom: 10px;
  color: rgba(39, 16, 51, 1);
}

.info-container {
  text-align: right;
  font-style: 14px;
  flex-direction: row;
  display: flex;
}

.tenants-individual-info {
  margin-top: 2%;
  display: flex;
}

.User-additional-info {
  margin: 0% 1% 0% 2%;
  padding-right: 1%;
  gap: 5%;
  display: flex;
}

.tenants-individual-info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 1%;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1000px;
  padding-top: 24px;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
  flex: 1 1 calc(33.33% - 20px);
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  align-items: center;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
  height: 100px;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card:hover {
  transform: translateY(-5px);
}

.icon-wrapper {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fefae8;
  border-radius: 24px;
}

.card-icon {
  font-size: 24px;
  color: #ffc107;
}

.card-title {
  font-size: 24px;
  font-weight: 300;
  color: #3c3c4399;
  --bs-card-title-spacer-y: 0;
}

.card-value {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  width: fit-content;
}

@media (max-width: 768px) {
  .card {
    flex: 1 1 calc(50% - 20px); /* 2 cards per row on smaller screens */
  }
}

@media (max-width: 480px) {
  .card {
    flex: 1 1 100%; /* Full-width cards on small screens */
  }
}

body {
  --bs-body-bg: #F2F2F2;
}